.menuItem {
    text-transform: capitalize;
    border-style: none;
    font-size: 1em;
    border-radius: 0% 50px 50px 0%;
    padding: 10px;
    margin:10px;
    background-color: #141526;
    color: white;

}

nav {
    float: left;
    width: 20%;

}

ul {
    text-align: left
}





button:hover{
    background-color: #F5AD06;
}