.menuItem {
    background-color: #141526;
    border-radius: 0% 50px 50px 0%;
    border-style: none;
    color: white;
    font-size: 1em;
    margin:10px;
    padding: 10px;
    text-transform: capitalize;
}

nav {
    float: left;
    width: 20%;
}

svg {
padding-right: 10px;
width: 25px;
}

ul {
    text-align: left
}

.currentSelected {
    background-color: #F5AD06;
}

button:hover{
    background-color: #F5AD06;
}